@model IEnumerable<Jquery_Ajax.Models.Movie>

<div class="col-md-8 offset-md-2">
    <div asp-controller="Movie" asp-action="GetSearchData" method="GET">
        <p>
            <select id="SearchBy">
                <option id="Id">ID</option>
                <option id="Genre">Category</option>
            </select><br /><br />
            @Html.TextBox("Search")<input type="submit" id="Searchbtn" value="Search" /><br /><br />
        </p>
    </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Movie",null,Context.Request.Scheme)','New Moive')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Movie</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <div>
                            <a onclick="showInPopup('@Url.Action("AddOrEdit","Movie",new {id=item.Id},Context.Request.Scheme)','Update Movie')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                            <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                <input type="hidden" asp-for="@item.Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

